:root{
    --main-color: #2B9DF4;
}


*{
    font-family: 'Jura', sans-serif;
}
body{
    background-color: black;
}


h1,h2,h3,h4{
    font-family: 'Orbitron', sans-serif;
}

p{
    color: white;
}

.luna{
   color: white;
}

.navborder{
    border-bottom: 2px solid white;
}

.bgmoon{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url(./media/moon.jpg);
    background-position: center;
}

.angle-down{
    color: var(--main-color);
}

.borderb{
    border-bottom: 2px solid var(--main-color);
}

.margine{
    margin-top: 200px;
}

.maincolor{
    color: var(--main-color);
}

.fontawesome{
    color: var(--main-color);
}

.marginesec4{
    margin-top: 450px;
}
.marginesec41{
    margin-top: 300px;
}

.goto{
    /* margin-right: 20px; */
    margin-left: 70%;
    color: white;
    width: 100px;
    background-color: black;
    border: 0;
    position: relative;
}

.goto::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}

.goto::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}

.linkgoto{
    text-decoration: none;
    color: white;
}

.linkgoto::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);

}

.linkgoto::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

.terra{
    margin-top: 200px;
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2),rgba(0,0,0,1)),url(./media/sunrise-1765027_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.close{
    height: 7px;
    background:linear-gradient(90deg,rgba(0,0,0,1),rgba(0,0,0,0.4),var(--main-color),rgba(0,0,0,0.4),rgba(0,0,0,1));
    margin-bottom: 100px;
}